:root {
	--main-bg-color: #000000;
	--main-text-color: #D6DFB4;
  }
  

/* taken from https://webaim.org */
a#skiptocontent{
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
a#skiptocontent:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}
@media (prefers-reduced-motion: reduce) {
	a#skiptocontent {
		transition-duration: 0.001ms !important;
	}
}


body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	text-align: center;
	margin: auto;
}

h1, h3, h5 {
	margin: 1em;
	color: #DF5555;
}

h2, h4, h6 {
	margin: 1em;
	color: #FF9E00;
}

a {
	color: #FFFBC8;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
	display: grid;
	margin: 1em;
	align-content: space-around;
}

.grid-container > .grid-item {
	place-self: center;
	justify-content: center;
	text-align: center;
	object-fit: scale-down;
	/*max-width: 10em;*/
	font-weight: bold;
	margin: 1em;
}

#logo-banner.grid-container {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

#other-resources.grid-container {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;	
}

.grid-container.link-logos > .grid-item {
	align-self: center;
	color: #DF5555;
}

#kumeyaay-tribe-website-logo {
	margin-top: 1em;
	margin-bottom: 1em;
}

@media (orientation: landscape) {
	body {
	  width: 60vw;
	}

	.logo {
		max-width: 10vw;
		max-height: 10vw;
		margin: 1vw;
		height: fit-content;
	}

	#our-friends.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;	
	}

	#our-values.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	#our-values .grid-item {
		width: 25vw;
	}

	#kumeyaay-tribe-website-logo {
		width: 20vw;
	}

	#our-values.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
  }

  @media (orientation: portrait) or (max-width: 1200px){
	body {
	  width: 90vw;
	  font-size: 2.5vmax;
	}
	
	.grid-item {
		margin: 1vw;
		max-width: 25vmax;
		max-height: 25vmax;		
	}

	img.logo {
		padding: 1vw;
		max-width: 20vmax;
		max-height: 20vmax;
		height:inherit;
		width: inherit;
		object-fit: contain;
	}

	#logo-banner .grid-item {
		max-width: 25vw;
		word-break: break-all;
	}

	#kumeyaay-tribe-website-logo {
		max-width: 40vw;
	}	

	#our-values.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#our-values .grid-item {
		margin: 1em;
	}

	.art {
		max-width: 90vw;
	}
	.calendar {
		max-width: 90vw;
		max-height: 90vh;
	}

	#our-friends.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;	
	}	

  }


details {
	background-color: #556B2F;
	color: #FFFBC8;
	text-align: left;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

summary {
	margin-bottom: 1em;
}

.art {
	margin-top: 1em;
	margin-bottom: 1em;
	object-fit: scale-down;
}

.calendar {
	margin-top: 1em;
	margin-bottom: 1em;
	object-fit: scale-down;
}