:root {
	--main-bg-color: #000000;
	--main-text-color: #D6DFB4;
  }
  

/* taken from https://webaim.org */
a#skiptocontent{
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
a#skiptocontent:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}
@media (prefers-reduced-motion: reduce) {
	a#skiptocontent {
		transition-duration: 0.001ms !important;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	text-align: center;
	margin: auto;
}

h1, h3, h5 {
	margin: 1em;
	color: #DF5555;
}

h2, h4, h6 {
	margin: 1em;
	color: #FF9E00;
}

a {
	color: #FF9E00;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
	display: grid;
	margin: 1em;
	align-content: space-around;
}

.grid-container > .grid-item {
	place-self: center;
	justify-content: center;
	text-align: center;
	object-fit: scale-down;
	font-weight: bold;
	margin: 1em;
}

.grid-container.link-logos > .grid-item {
	align-self: center;
	color: #DF5555;
}

#kumeyaay-tribe-website-logo {
	margin-top: 1em;
	margin-bottom: 1em;
}

details {
	background-color: #556B2F;
	color: #FFFBC8;
	text-align: left;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

summary {
	margin-bottom: 1em;
}

.art {
	margin-top: 1em;
	margin-bottom: 1em;
	object-fit: scale-down;
}

.photo {
	margin-top: 1em;
	margin-bottom: 1em;
	object-fit: scale-down;
	width: 80vw;
}

#calendar {
	margin-top: 1em;
	margin-bottom: 1em;
	object-fit: scale-down;
}
