body {
    width: 80vw;
}


.logo {
    max-width: 10vw;
    max-height: 10vw;
    margin: 1vw;
    height: fit-content;
}

#logo-banner.grid-container {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

#our-friends.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;	
}

#our-values.grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#our-values .grid-item {
    width: 25vw;
}

#kumeyaay-tribe-website-logo {
    width: 20vw;
}

#border-mutual-aid.grid-container {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

#our-values.grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#other-resources.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;	
}
