nav {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr; 
  justify-content: stretch; 
  align-content: stretch; 
}

nav button {
	background-color: #556B2F;
	color: #FFFBC8;
  justify-self: start;
  padding: 0.5em;
  margin: 0.1em;
  border: 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}

nav button:hover {
	color: #556B2F;
	background-color: #FFFBC8;
}

nav button:hover a{
	color: #556B2F;
}
